body
{
	width: 900px;
	height: 1000px;
	padding: 0px 0px 0px 0px;
	overflow: scroll;
	background-color: #FFF5EE;
	line-height: 1.3;
	overflow: auto;
}
.header_wrapper
{
	background-color: #027CD5;
	height: 20%;
	width: 100%;
	padding: 0;
	position: absolute;
	overflow: hidden;
	text-align: center;
}
.clear
{
	clear: both;
}			
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 100;
    overflow: hidden;  
    float: left;
    width: 100%;
    border-right-color: #fff;	
    text-align: center;	
    border-right-width: 1px;
    border-right-color: #fff;	   
}
li 
{
    float: left;	
    	    
}
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;
}
li a span img
{
	height: 15px;
	width: 15px;
}	
.logo_box
{
	height: 70%;
	width: 20%;
	float:left;
}
.logo_box img
{
	margin-top: 15px;
	float:right;
	padding-top: 25px;
	width: 150px;

}		
.links_list
{
	width:100%
	height:40%;
	
}	
.inner_div
{
	height:70%;
	width:80%;
	float: left;
	text-align: left;
	
}	
.search_box
{
	width: 100%;
	height:60%; 
	
}
.search-bar
{
	border:0 none;
	outline: :0 none;
	height: 35px;
	width:500px;
	border-radius: 2px 0 0 2px;	
}
.Search
{
	position: absolute;
	background-color: #fdd922;
	border: 1px solid #e0bc27;
 	border-radius: 0 2px 2px 0;
 	text-transform: uppercase;
 	color: #565656;
 	position: absolute;
 	line-height: 17px;
 	height: 40px;
 	cursor: pointer;
 	width: 8%;
 	padding: 4px 8px 4px 4px;
 	font-family: sans-serif;
 			
}	
.cart_button
{
	margin-left: 80px;
	background: #006cb4;
 	border: 1px solid #24609c;
 	text-transform: uppercase;
 	color: #565656;
 	position: absolute;
 	line-height: 17px;
 	height: 40px;
 	cursor: pointer;
 	width: 8%;
 	padding: 4px 8px 4px 4px;
 	font-family: arial;
 			    			
}	
.main_menubar
{
	height:30%;
	width:100%;
	float: left;
	background-color: #006CB4;
	text-align: center;	
	
}	
.mainmenu_ul
{
	 list-style-type: none;
    margin: 0;
    padding: 100;
    overflow: hidden;  
    float: left;
    width: 100%;
    border-right-color: #fff;	
    
    margin-left: 60px;
 
     
}
.mainmenu_ul li
{
	float: left;
	font-size: 13px;
	list-style-type: none;
	
}
.mainmenu_ul ul li a
{
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding:0px 14px 0px 14px;
}
.offers_zone
{
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	cursor: default; 
	position: relative;
	background-color: red;
	
}
.offers_zone span
{
	border-bottom: 1px dotted #DCDDE0;
	float: left;
	margin-left: 100px;
}
.main_body
{
	width: 100%;
	height: 60%;	
	padding-left: 100px;
	text-align: center;
		
}
.left_body
{
	display: block;
	width: 700px;
	height: 100%;
	position: inherit;
	float: left;
}
.right_body
{
	display: block;
	width: 185px;
	height: 100%;
	position: inherit;
	float: right;
	padding-top: 50px;
	margin-left: 15px;
}
.advertisement
{
	display: block;
	margin-top: 150px;
}
.advertisement img
{
	height: 100px;
	width:100%;
}
.advertisement2
{
	display: block;
	margin-top: 20px;
}
.advertisement2 img
{
	height: 350px;
	width: 100%;
}
.smartphones
{
	display: block;
	margin-top: 20px;
}
h2
{
	background-color: #464646;
	height: 38px;
	width: 100%;
	color: white;
	line-height: 38px;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
.item1
{
	margin-right: 5px;
	border-color: yellow;
	width: 165px;
	height: 250px;
	overflow: hidden;
	float: left;
	display: block;
}
.item2
{
	margin-right: 5px;
	width: 360px;
	height:250px;
	overflow: hidden;
	float: left;
	display: block;
}
.item3
{
	margin-right: 5px
	display: block;
	width: 165px;
	height: 250px;
	overflow: hidden;
	float: right;
}
.telivisions
{
	display: block;
	margin-top: 20px;
}
.add1
{
	width: 100%;
	height:50px;
	margin-top: 100px;
}
.footer
{
	margin-top: 700px;
	height: 1000px;
	width:143%;
	background-color: white;
	padding-top: 30px;
}
.footer_links1
{
	height: 200px;
	width: 22%;
	float: left;
	margin-left: 100px;
	margin-right: 90px;
	font-weight: bold;
}
.footer_links2
{
	height: 200px;
	width: 22%;
	float: left;
	margin-right: 90px;
	font-weight: bold;
	
}
.footer_links3
{
	height: 200px;
	width: 22%;
	float: right;
	margin-right: 155px;
	font-weight: bold;
}
strong
{
	font-weight: bold;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-transform: uppercase;
	color: #565656;
	text-align: left;
	font-family: sans-serif;
	font-size: 15px;
}
.footer_links1 a
{
	border-bottom:1px solid #E4E4E4;
	color: #565656;
	font-size: 12px;
	font-weight: normal;
}
.footer_links2 a
{
	border-bottom:1px solid #E4E4E4;
	color: #565656;
	font-size: 12px;
	font-weight: normal;
}
.footer_links3 a
{
	border-bottom:1px solid #E4E4E4;
	color: #565656;
	font-size: 12px;
	font-weight: normal;
}
.footer_links3 img
{
	margin-top: 10px;
	height: 70px;
	width: 150px;
}
.footer_list_items
{
	
	line-height: 28px;
	text-decoration: none;
	display: block;
}
.footer_items
{
	border-bottom-color: #E4E4E4;
	border-bottom-width: 1px;
}
.footer_link_bar1
{
	margin: 50px 0px 0px 97px;
	height: 60px;
	width: 80%;
	border-top:  2px solid #E4E4E4;
	border-bottom: 2px solid #E4E4E4;
}
.footer_link_bar1 ul
{
	padding: 2px 30px 3px 150px;
	height: 60px;
}
.footer_link_bar1 ul li
{
	padding: 0px 10px 0px 10px;
	border-right: 2px solid #E4E4E4;
	text-align: center;
	list-style-type: none;
}
.footer_link_bar1 ul li img
{
	margin-top: 4px;
	height: 45px;
	width: 50px;
	float: left;
	
}
.footer_link_bar1 ul li span
{
	margin-top: 4px;
	float: right;
}
.footer_link_bar2
{
	
}