.main_container
{
	margin: 0 auto;
	background-color: #EEEEEE;
	font-family: sans-serif;
	margin: 0;
	padding:0;
}
.clear
{
	clear: both;
}
.header
{
	margin: auto;
	height: 60px;
	padding: 15px 30px;
}
.logo_box
{
	height: 100%;
	width:35%;
	color: #605D65;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
}
.logo_box h5
{
	vertical-align: middle;
	float: right;
}
.header_menu
{
	float: right;
	text-transform: uppercase;
	display: inline;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
}
li 
{
    float: left;
}
li a
{
    display: inline-block;
    color: #605D65;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
}
li a:hover 
{
    background-color: #fff;
}
.dropbtn 
{
	 color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.header_menu 
{
    position: relative;
    display: inline-block;
}
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown:hover .dropbtn 
{
    background-color: #3e8e41;
}
.banner_top
{
	height: 513px;
	color: #fff;
}
.banner
{
	height: 630px;
	background-color: #fff;
	margin-top: 20px
}
.banner_img1
{
	position: relative;
	height: 550px;
	width: auto;
}
.banner_top span
{
	position: absolute;
	top: 190px;
	left: 135px;
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 50px;
}
.banner_top button
{
	position: absolute;
	height: 60px;
	width: 260px;
	background-color: #FD7F0B;
	border: none;
	font-size: 18px;
	color: #fff;
	top: 355px;
	left: 135px;
	text-transform: uppercase;
	border-radius: 5px;
}
.video_img
{
	position: absolute;
	height: 100px;
	width:200px;
	top: 450px;
	left: 135px;
}
.banner_footer
{
	position: absolute;
	height: 50px;
   padding: 33px 50px;	
   width: auto;
}
.banner_footer_text
{
	font-size: 23px;
	color: #0E2044;
	text-transform: uppercase;
	float: left;
	font-weight: bold;
	margin-left: 50px;
	
}
.banner_footer_text p
{
	font-size: 12px;
	color: #605D65;
	text-transform: none;	
}
input[type="text"]
{
	width: 228px;
	font-family: sans-serif;
	font-size: 15px;
	display: inline;
	margin-left: 40px;
	padding: 10px 10px;
	border-radius: 5px;
}
button
{
	height: 43px;
	width: 100px;
	background-color: #FD7F0B;
	border: none;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	border-radius: 5px;
	margin-left: 10px;
	font-weight: bold;
}
.dots_div
{
	height: 250px;
	text-align: center;
	padding: 38px 200px 0px;
	font-size: 20px;
	text-transform: uppercase;
	color: #333333;
	font-weight: bold;
	border-top: 10px solid;
	border-color: #02CA83;
	background-color: #fff;
}
.circle_block
{
	color: #fff;
	font-size: 15px;
}
.circle_block ul
{
	height: 300px;
	padding-left: 137px;
	padding-top: 10px;
}

.circle
{
	height: 140px;
	width:  140px;
	border-radius: 70px;
}
.circle h3
{
	padding-top:33px;
	font-size: 25px;
}
.dots_img
{
	height: 140px;
	width:  70px;
	padding-top: 55px;
}
.banner_img
{
	position: relative;
	padding: 0;
	margin: 0;
	width: 410px;
	margin: -2px;
	height: 515px;
}
.middle_circle
{
	height: 120px;
	width: 120px;
	border-radius: 60px;
	background-color: #02CA83;
	position: absolute;
	color: #fff;
	padding-left: 10px;
	padding-top: 10px;
	z-index: 5;
	top: 1205px;
	left: 576px;
	text-transform: uppercase;
	font-size: 25px;
}
.banner_text
{
	position: relative;
}
.side_banner1
{
	background-color: #fff;
	border-top: 1px solid #000;
	padding: 35px 100px;
	height: 515px;
}
.banner_img2
{
	position: absolute;
	float: left;
	width:30%;
}
.banner_img2 img
{
	width: 550px;
	height: 550px;
}
.banner_details
{
	position: relative;
    float: right;
    width: 40%;
    margin-right: 175px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.banner-content
{
	position: absolute;
	top: 1284px;
	left: 135px;
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
}
.banner_imges3
{
	height: 513px;
	color: #fff;
	position: relative;;
}
.b-content
{
	float:left;
	font-size: 20px;
	font-weight: bolder;
	text-transform: uppercase;
	width: 100px;
	margin-left: 50px;
	
}
.b-image
{
	float: left;
	margin-left: -3px;
	margin-top: 44px;
}
.b-circle
{
	float:left;
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background-color: #02CA83;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: -24px;
	text-align: center;
}
h1
{
	font-size: 30px;
	text-transform: uppercase;
	color: #FD7F0B;
}
h2
{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
}
h3
{
	font-size: 12px;
}
.side_banner1 ul li
{
	font-size: 12px;
	font-weight: normal;
}
.side_banner2
{
	padding: 35px 165px;
	width: 100%;
	height: 530px;
}
.banner2_details
{
	position: absolute;
    float: left;
    width: 30%;
    margin-top: 135px;
    margin-bottom: 80px;
    text-align: center;

}
.banner_img3
{
	position: relative;
	float: right;
	padding: 20px 350px 0px 50px;
}
.banner_img3 img
{
	height: 550px;
}
.side_banner3
{
	padding: 35px 165px;
	width: 100%;
	height: 530px;
}
.banner_head
{
	text-align: center;
	height: 60px;
    width: initial;
    padding-top: 35px;
}
.page_footer
{
    background-color: #EEEEEE;
    float: left;
    height: 50px;
    margin-top: 110px;
    padding: 30px 100px;
}
.footer_left
{
	text-transform: uppercase;
	font-size: 12px;
	color: #605D65;
	float: left;
}
.footer_left a
{
	margin-right: 30px;
}
.footer_right
{
	float: right;
	text-align: center;
}